//Кольори
$colorTextPrimary: #8f95a5;
$colorTextSecondary: #000;
$colorTextTertiary: #2a3246;
$colorTextFortiary: #546269;
$colorButtonPrimary: #263238;
$colorTextButton: #fff;
$colorBackgraundPrimary: #f5f5f5;
$colorBackgroundSecondary: #eee;

//Шрифт
$fontTextPrimary: 'Poppins', sans-serif;
