<section class="about" id="about">
  <div class="container container__about">
    <h2 class="title about__title">About Us</h2>
    <div class="img about__photo">
      <img src="/src/images/business.svg" alt="busines" class="about__img" />
    </div>
    <p class="about__paragraf">
      The model offers a framework for discussing problems related to the user's
      experience, as well as possible ways and means of solving them.
      Application development begins at the top level (strategy), where the
      future software product is described quite abstractly from the point of
      view of the expectations of both users and the customer.
    </p>
    <ul class="about__statistics">
      <li class="stastic__block">
        <h3 class="statistic__people">800</h3>
        <p class="statistic__text">Pupils</p>
      </li>
      <li class="stastic__block">
        <h3 class="statistic__people">18</h3>
        <p class="statistic__text">Teachers</p>
      </li>
      <li class="stastic__block">
        <h3 class="statistic__people">6</h3>
        <p class="statistic__text">Foreign languages</p>
      </li>
    </ul>
  </div>
</section>
