<section class="about">
  <div class="container container__about">
    <h1 class="about__text">About Us</h1>
    <p class="about__paragraf">
      The model offers a framework for discussing problems related to the user's
      experience, as well as possible ways and means of solving them.
      Application development begins at the top level (strategy), where the
      future software product is described quite abstractly from the point of
      view of the expectations of both users and the customer.
    </p>
    <div class="about__statistics">
      <h4 class="statistic__people">800</h4>
      <p class="statistic__text">Pupils</p>
    </div>
    <div class="about__statistics">
      <h4 class="statistic__people">18</h4>
      <p class="statistic__text">Teachers</p>
    </div>
    <div class="about__statistics">
      <h4 class="statistic__people">6</h4>
      <p class="statistic__text">Foreign languages</p>
    </div>
  </div>
</section>
