<section class="contact">
  <div class="container contact__container">
    <div class="contact__body">
      <h2 class="title contact__title">Contact us</h2>
      <div class="img contact__photo">
        <img src="/src/images/men.svg" alt="contactus" class="contact__img" />
      </div>
      <p class="contact__text">
        Discover your current English level by taking our free online English
        test. Sign up to our newsletter for learning tips and free resources
      </p>

      <form action="#" class="contact__form form-contact">
        <input
          type="email"
          placeholder="Enter Your E-mail"
          class="form-contact__input"
        />
        <button class="form-contact__button button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
