<footer class="footer">
  <div class="container footer__container">
    <a href="#" class="footer__logo">
      <img src="/src/images/britlex.svg" alt="logo" class="footer__img"
    /></a>
   <ul class="footer__items">
    <li class="footer__item"><a href="#" class="footer__link">Terms and Conditions</a></li>
    <li class="footer__item"> <a href="#" class="footer__link">Privacy Policy</a></li>
    <li class="footer__item"> <a href="#" class="footer__link">Cookie Policy</a></li>
   </ul>
  </div>
</footer>
