<header class="header">
  <div class="container heder__container">
    <img src="/src/images/britlex.svg" alt="icon" class="header__icon" />
    <div class="header__menu">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Skills</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About Us</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Pricing</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="button header__button">Let’s Talk</a>
    </div>
  </div>
</header>
