<header class="header" data-menu>
  <div class="container heder__container">
    <div class="nav-icon__container">
      <a href="#" class="header__icon">
        Brit<span class="header__icon-span">lex</span>
      </a>
    </div>
    <div class="menu header__menu">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Skills</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About Us</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Pricing</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contacts</a>
          </li>
        </ul>
      </nav>

      <button class="menu__btn-close" data-close_btn>
        <span class="btn-menu__icon"></span>
      </button>
      <button href="#" class="header__button">Let’s Talk</button>
    </div>
    <button class="nav__btn btn-menu" data-open_btn>
      <span class="btn-menu__icon"></span>
    </button>
  </div>
</header>
