<section class="hero">
  <div class="container container__hero">
    <div class="img hero__poto">
      <img src="/src/images/world.svg" alt="contactus" class="hero__img" />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Learn <span></span>Any Foreign Language</h1>
      <p class="hero__text">
        With our teachers who write a program for each student, you will be able
        to make your first sketch after the first lesson.
      </p>
      <a href="#" class="hero__button button">Get started</a>
    </div>
  </div>
</section>
