<section class="pricing">
  <div class="container container__pricing">
    <h2 class="title pricing__title">Pricing</h2>
    <div class="pricing__services">
      <article class="service">
        <div class="img service__photo">
          <img
            src="/src/images/online.svg"
            alt="online"
            class="service__img service__online"
          />
        </div>
        <h3 class="service__title">Self-study online course</h3>
        <p class="service__text">
          Start learning English online in live classes with qualified EC
          teachers and students from all over the world.
        </p>
        <div class="service__number">
          <h5 class="service__number-title">£5.99</h5>
          <p class="service__number-text">per month</p>
        </div>
      </article>
      <article class="service">
        <div class="img service__photo">
          <img
            src="/src/images/lesson.svg"
            alt="lesson"
            class="service__img service__lesson"
          />
        </div>
        <h3 class="service__title service__title-lesson">
          Live online classes
        </h3>
        <p class="service__text service__text-lesson">
          Interactive group classes with expert teachers. Free 7-day trial
        </p>
        <div class="service__number service__number-lesson">
          <h5 class="service__number-title">£12.99</h5>
          <p class="service__number-text">per month</p>
        </div>
      </article>
      <article class="service">
        <div class="img service__photo">
          <img
            src="/src/images/webinar.svg"
            alt="webinar"
            class="service__img service__webinar"
          />
        </div>
        <h3 class="service__title service__title-personal">Personal Tuition</h3>
        <p class="service__text service__text-webinar">
          Online one-to-one English tutoring – enjoy our first session for only
          $1
        </p>
        <div class="service__number service__number-webinar">
          <h5 class="service__number-title">£20.99</h5>
          <p class="service__number-text">per month</p>
        </div>
      </article>
    </div>
  </div>
</section>
