<section class="pricing" id="pricing">
  <div class="container container__pricing">
    <h2 class="title pricing__title" data-aos="fade-up">Pricing</h2>
    <div class="pricing__services">
      <article class="service" data-aos="fade-up-right">
        <div class="img service__photo" data-aos="fade-up-right">
          <img
            src="/src/images/online.svg"
            alt="online"
            class="service__img service__online"
          />
        </div>
        <h3 class="service__title" data-aos="fade-up-right">
          Self-study online course
        </h3>
        <p class="service__text" data-aos="fade-up-right">
          Start learning English online in live classes with qualified EC
          teachers and students from all over the world.
        </p>
        <div class="service__number" data-aos="fade-up-right">
          <h5 class="service__number-title">£5.99</h5>
          <p class="service__number-text">per month</p>
        </div>
      </article>
      <article class="service" data-aos="fade-up">
        <div
          class="img service__photo service__photo-lesson"
          data-aos="fade-up"
        >
          <img
            src="/src/images/lesson.svg"
            alt="lesson"
            class="service__img service__lesson"
          />
        </div>
        <h3 class="service__title service__title-lesson" data-aos="fade-up">
          Live online classes
        </h3>
        <p class="service__text service__text-lesson" data-aos="fade-up">
          Interactive group classes with expert teachers. Free 7-day trial
        </p>
        <div class="service__number service__number-lesson" data-aos="fade-up">
          <h5 class="service__number-title">£12.99</h5>
          <p class="service__number-text">per month</p>
        </div>
      </article>
      <article class="service" data-aos="fade-up-left">
        <div class="img service__photo" data-aos="fade-up-left">
          <img
            src="/src/images/webinar.svg"
            alt="webinar"
            class="service__img service__webinar"
          />
        </div>
        <h3
          class="service__title service__title-personal"
          data-aos="fade-up-left"
        >
          Personal Tuition
        </h3>
        <p class="service__text service__text-webinar" data-aos="fade-up-left">
          Online one-to-one English tutoring – enjoy our first session for only
          $1
        </p>
        <div
          class="service__number service__number-webinar"
          data-aos="fade-up-left"
        >
          <h5 class="service__number-title">£20.99</h5>
          <p class="service__number-text">per month</p>
        </div>
      </article>
    </div>
  </div>
</section>
