<section class="skils">
  <div class="container section__conteiner">
    <h2>Skills</h2>
    <div class="skils__blocks">
      <article class="block">
        <div class="black__photo">
          <img src="/src/images/shared.svg" alt="shared" class="block__img" />
        </div>
        <h3 class="block__title">Speaking</h3>
        <p class="block__text">
          Improve your English skills and confidence. Live classes and
          interactive lessons online. 20% extra free for a limited time only
          Learn English online and improve your skills through our high-quality
          courses and resources – all designed for adult language learners.
        </p>
        <a href="#" class="button case__button">Learn more</a>
      </article>
      <article class="block">
        <div class="black__photo">
          <img
            src="/src/images/typewriter.svg"
            alt="shared"
            class="block__img"
          />
        </div>
        <h3 class="block__title">Writing</h3>
        <p class="block__text">
          One of the most important and extensive areas of natural science, the
          science that studies substances, also their composition
        </p>
        <a href="#" class="button case__button">Learn more</a>
      </article>
      <article class="block">
        <div class="black__photo">
          <img
            src="/src/images/bookshelves.svg"
            alt="shared"
            class="block__img"
          />
        </div>
        <h3 class="block__title">Reading</h3>
        <p class="block__text">
          perception and response actions of the user resulting from the use
          and/or upcoming use of the product, system or service
        </p>
        <a href="#" class="button case__button">Learn more</a>
      </article>
      <article class="block">
        <div class="black__photo">
          <img src="/src/images/podcast.svg" alt="shared" class="block__img" />
        </div>
        <h3 class="block__title">Listening</h3>
        <p class="block__text">
          Here you can find activities to practise your listening skills.
          Listening will help you to improve your understanding
        </p>
        <a href="#" class="button case__button">Learn more</a>
      </article>
    </div>
  </div>
</section>
