.contact {
  padding-bottom: 57px;
}
.contact__container {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
}
.contact__title {
  text-align: center;
  line-height: 333%;
  margin-bottom: 38px;
}
.contact__photo {
  margin-bottom: 38px;
}
.contact__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 31px;
}
.contact__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-contact__input {
  border: 1px solid $colorTextPrimary;
  border-radius: 5px;
  width: 291px;
  height: 50px;
  padding-left: 26px;
  margin-bottom: 17px;
}
.form-contact__button {
  border-radius: 5px;
  width: 290px;
  height: 60px;
  font-size: 14px;
}
@media (min-width: 575px) {
  .contact {
    padding-bottom: 144px;
  }
  .contact__title {
    font-size: 30px;
    line-height: 267%;
    margin-bottom: 83px;
  }
  .contact__photo {
    margin-bottom: 34px;
  }
  .contact__text {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .contact__form {
    flex-direction: row;
    justify-content: center;
  }
  .form-contact__input {
    margin: 0 auto;
    border-radius: 10px;
    width: 511px;
    height: 60px;
  }
  .form-contact__button {
    border-radius: 10px;
    width: 193px;
    font-size: 16px;
    margin-left: -50px;
  }
}
@media (min-width: 767px) {
  .contact {
    padding-bottom: 140px;
  }
  .contact__container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
  }
  .contact-us__body {
    max-width: 430px;
  }
  .contact__photo {
    position: absolute;
    left: 50;
    top: 9;
    width: 233px;
    display: flex;
  }
  .contact__title {
    line-height: normal;
    margin-bottom: 20px;
    text-align: left;
  }
  .contact__text {
    font-size: 14px;
    margin-bottom: 26px;
    text-align: left;
  }
  .form-contact__input {
    width: 283px;
    height: 50px;
  }
  .form-contact__button {
    width: 145px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 6px;
  }
}
