.contact {
  padding-top: 72px;
  padding-bottom: 57px;
  overflow: hidden;
}
.contact__container {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}
.contact__title {
  text-align: center;
  line-height: 333%;
  margin-bottom: 38px;
  overflow: hidden;
}
.contact__photo {
  width: 79%;
  margin: 0 auto;
  margin-bottom: 38px;
  overflow: hidden;
}
.contact__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 31px;
  overflow: hidden;
}
.contact__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.form-contact__input {
  border: 1px solid $colorTextPrimary;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  margin-bottom: 17px;
  font-size: 12px;
  flex-grow: 1;
  overflow: hidden;
}
.form-contact__button {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden;
}
@media (min-width: 575px) {
  .contact {
    padding-top: 163px;
    padding-bottom: 144px;
  }
  .contact__title {
    font-size: 30px;
    line-height: 267%;
    margin-bottom: 83px;
  }
  .contact__photo {
    margin-bottom: 34px;
    width: 62%;
  }
  .contact__text {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .contact__form {
    flex-direction: row;
    justify-content: center;
  }
  .form-contact__input {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 0 10px 25px;
    font-size: 13px;
    padding-left: 25px;
  }
  .form-contact__button {
    border-radius: 10px;
    padding: 18px 56px 18px 56px;
    font-size: 16px;
    margin: 0;
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .contact {
    padding-top: 94px;
    padding-bottom: 112px;
  }
  .contact__container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
  }
  .contact__body {
    max-width: 430px;
  }
  .contact__photo {
    position: absolute;
    left: 26;
    top: 0;
    width: 30%;
    display: flex;
  }
  .contact__title {
    line-height: normal;
    text-align: left;
    line-height: 267%;
    margin: 0;
  }
  .contact__text {
    font-size: 14px;
    margin-bottom: 26px;
    text-align: left;
  }
  .contact__form {
    gap: 6px;
  }
  .form-contact__input {
    padding: 16px 0 16px 24px;
    gap: 6px;
    font-size: 12px;
  }
  .form-contact__button {
    padding: 16px 40px 16px 40px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .contact {
    padding-top: 142px;
    padding-bottom: 157px;
  }

  .contact__title {
    font-size: 36px;
    margin-left: 14px;
    line-height: 222%;
    margin-bottom: 3px;
  }
  .contact__text {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .contact__body {
    max-width: 558px;
  }
  .contact__photo {
    left: 13;
    top: 0;
    width: 27%;
  }
  .contact__form {
    gap: 14px;
  }
  .form-contact__input {
    font-size: 14px;
    padding: 20px 0 20px 37px;
    flex-grow: 1;
  }
  .form-contact__button {
    font-size: 16px;
    padding: 20px 56px 20px 56px;
  }
}
@media (min-width: 1600px) {
  .contact {
    padding-top: 260px;
    padding-bottom: 133px;
  }

  .contact__body {
    min-width: 810px;
  }
  .contact__photo {
    left: 113;
    top: -25;
    width: 29%;
  }
  .contact__title {
    font-size: 48px;
    margin-left: 0;
    margin-bottom: 37px;
    line-height: 167%;
  }
  .contact__text {
    font-size: 20px;
    margin-bottom: 52px;
  }
  .contact__form {
    max-width: 730px;
    gap: 12px;
  }
  .form-contact__input {
    flex-grow: 1;
    padding: 28px 0 28px 33px;
    font-size: 16px;

    margin: 0;
  }
  .form-contact__button {
    padding: 28px 82px 28px 82px;
    font-size: 20px;
  }
}
