.contact {
  padding-top: 72px;
  padding-bottom: 57px;
}
.contact__container {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.contact__title {
  text-align: center;
  line-height: 333%;
  margin-bottom: 38px;
}
.contact__photo {
  margin-bottom: 38px;
  align-items: center;
}
.contact__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 31px;
}
.contact__form {
  display: flex;

  flex-direction: column;
  flex-grow: 1;
}
.form-contact__input {
  border: 1px solid $colorTextPrimary;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  margin-bottom: 17px;
  font-size: 12px;
}
.form-contact__button {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
}
@media (min-width: 575px) {
  .contact {
    padding-top: 163px;
    padding-bottom: 144px;
  }
  .contact__title {
    font-size: 30px;
    line-height: 267%;
    margin-bottom: 83px;
  }
  .contact__photo {
    margin-bottom: 34px;
  }
  .contact__text {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .contact__form {
    flex-direction: row;
    justify-content: center;
  }
  .form-contact__input {
    margin: 0 auto;
    border-radius: 10px;
    width: 511px;
    height: 60px;
    font-size: 13px;
    padding-left: 25px;
  }
  .form-contact__button {
    border-radius: 10px;
    width: 193px;
    font-size: 16px;
    margin: 0;
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .contact {
    padding-top: 94px;
    padding-bottom: 140px;
  }
  .contact__container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
  }
  .contact__body {
    max-width: 430px;
  }
  .contact__photo {
    position: absolute;
    left: 26;
    top: 0;
    width: 31%;
    display: flex;
    
  }
  .contact__title {
    line-height: normal;
    margin-bottom: 20px;
    text-align: left;
  }
  .contact__text {
    font-size: 14px;
    margin-bottom: 26px;
    text-align: left;
  }
  .contact__form {
    gap: 6px;
  }
  .form-contact__input {
    width: 283px;
    height: 50px;
    gap: 6px;

    font-size: 12px;
    padding-left: 24px;
  }
  .form-contact__button {
    width: 145px;
    height: 50px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .contact {
    padding-top: 142px;
    padding-bottom: 194px;
  }
  .contact__title {
    font-size: 36px;
    margin-left: 14px;
    margin-bottom: 30px;
  }
  .contact__text {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .contact__body {
    max-width: 527px;
  }
  .contact__photo {
    left: 0;
    top: 0;
  }
  .contact__form {
    gap: 14px;
  }
  .form-contact__input {
    width: 323px;
    height: 60px;
    font-size: 14px;
    padding-left: 38px;
  }
  .form-contact__button {
    width: 193px;
    height: 60px;
    font-size: 16px;
    margin: 0;
  }
}
@media (min-width: 1600px) {
  .contact {
    padding-top: 260px;
    padding-bottom: 220px;
  }

  .contact__body {
    min-width: 810px;
  }
  .contact__photo {
    left: 0;
    top: 0;
  }
  .contact__title {
    font-size: 48px;
    margin-left: 0;
    margin-bottom: 37px;
  }
  .contact__text {
    font-size: 20px;
    margin-bottom: 52px;
  }
  .contact__form {
    max-width: 730px;
    gap: 12px;
  }
  .form-contact__input {
    flex-grow: 1;
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 33px;
    font-size: 16px;
    padding-left: 33px;
    margin: 0;
  }
  .form-contact__button {
    padding: 25px;
    font-size: 20px;
  }
}
