.footer {
  padding: 57px 0;
}
.footer__container {
  height: 1px;
  background: #c4c4c4;
}
.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 26px;
}
.footer__img {
  width: 71px;
  height: 36px;
  margin-bottom: 15px;
}
.footer__items {
  display: flex;
  justify-content: center;
  gap: 8px;
padding-bottom: 46px;
}
