.heder__container {
  padding: 40px 15px;
  display: flex;
  justify-content: space-between;
}
.header__icon {
  display: flex;
  justify-content: center;
  padding-top: 11px;
  font-size: 24px;
  font-weight: 400;
  color: $colorTextSecondary;

  z-index: 19000;
}

.header__icon-span {
  color: #939393;
}
.nav-icon__container {
  z-index: 999;
}
.nav__link {
  font-weight: 500;
  font-size: 22px;
  color: $colorButtonPrimary;
  transition: all 500ms ease;
}
.nav__link:hover {
  color: $colorTextButton;
  text-shadow: $colorButtonPrimary 1px 0 5px;
}
.header__button {
  border: 2px solid $colorButtonPrimary;
  background-color: transparent;
  color: $colorButtonPrimary;
  font-weight: 400;
  border-radius: 10px;
  font-size: 20px;
  padding: 16px 65px;
  transition: all 500ms ease;
}
.header__button:hover {
  background: rgb(0, 0, 0);
  color: $colorTextButton;
  box-shadow: inset 0 0 0 3px $colorTextButton;
}
@media (min-width: 575px) {
  .header__icon {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .heder__container {
    padding: 40px 30px;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 167px;
  }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .header__button {
    font-size: 18px;
    border-radius: 5px;
    padding: 12px 40px;
  }
  .nav__list {
    display: flex;
    gap: 30px;
  }
  .nav__link {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  .heder__container {
    padding: 55px;
    gap: 253px;
  }
  .header__icon {
    font-size: 36px;
  }
  .nav__list {
    gap: 40px;
  }
  .nav__link {
    font-size: 20px;
  }
  .header__button {
    font-size: 24px;
    padding: 17px 57px;
  }
}
