.container__hero {
  padding: 0px 10px;
}
.hero__title {
  padding-top: 16px;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
.hero__text {
  padding: 16px;
  font-size: 14px;
  text-align: center;
}
.hero__button {
  padding: 18px 99px;
  font-size: 16px;
}
