.container__hero {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}
.hero__title {
  padding-top: 16px;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
.hero__text {
  padding: 16px;
  font-size: 14px;
  text-align: center;
}
.hero__button {
  margin: 0 15px;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 575px) {
  .container__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px 42px;
  }
  .hero__title {
    font-size: 34px;
    padding-top: 15px;
  }
  .hero__text {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 37px;
  }
  .hero__button {
    font-size: 18px;
    padding: 24px 101px;
    margin: 0 93px;
  }
  .hero__poto {
    max-width: 424px;
  }
}
