.pricing {
  padding-top: 84px;
  overflow: hidden;
}
.pricing__title {
  text-align: center;
  line-height: 333%;
  overflow: hidden;
}
.pricing__services {
  display: flex;
  flex-direction: column;
  gap: 65px;
  overflow: hidden;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.service__photo {
  margin-bottom: 11px;
  overflow: hidden;
}

.service__title {
  color: $colorButtonPrimary;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
}
.service__text {
  margin-bottom: 33px;
  font-size: 13px;
  text-align: center;
  overflow: hidden;
}
.service__number {
  display: flex;
  justify-content: center;

  padding: 5px 15px;
  border-radius: 5px;
  background-color: $colorBackgroundSecondary;
  overflow: hidden;
}
.service__number-title {
  font-size: 18px;
  color: $colorButtonPrimary;
  font-weight: 400;
  overflow: hidden;
}
.service__number-text {
  padding-top: 2px;
  font-size: 14px;
  color: $colorTextFortiary;
  font-weight: 400;
  overflow: hidden;
}
@media (min-width: 575px) {
  .pricing {
    padding-top: 131px;
  }
  .pricing__services {
    gap: 70px;
  }

  .pricing__title {
    font-size: 30px;
    line-height: 267%;
  }
  .service__title {
    font-size: 24px;
  }
  .service__text {
    font-size: 14px;
  }
  .service__number {
    padding: 5 12px;

    width: 205px;
  }
  .service__number-title {
    font-size: 22px;
  }
  .service__number-text {
    font-size: 16px;
  }
  .service__img {
    max-width: 291px;
    max-height: 291px;
    margin: 0 auto;
  }
  .service__lesson {
    max-width: 314px;
    max-height: 241px;
  }
  .service__webinar {
    max-width: 253px;
    max-height: 253px;
  }
}

@media (min-width: 767px) {
  .service {
    align-items: baseline;
  }
  .pricing {
    padding-top: 93px;
  }
  .pricing__title {
    font-size: 30px;
  }
  .pricing__services {
    flex-direction: row;
    gap: 35px;
  }
  .service {
    flex-basis: calc((100% - 70px) / 3);
    display: flex;
    flex-direction: column;
  }
  .service__title {
    font-size: 20px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .service__title-lesson {
    text-align: left;
    width: 150px;
  }
  .service__title-personal {
    text-align: left;
    width: 100px;
    margin-bottom: 9px;
  }

  .service__text {
    margin-bottom: 23px;
    flex-grow: 1;
  }

  .service__photo-lesson {
    padding-top: 55px;
  }

  .service__text {
    text-align: left;
  }

  .service__number {
    margin: 23px auto;
  }
}
@media (min-width: 992px) {
  .pricing {
    padding-top: 101px;
  }
  .container__pricing {
    gap: 42px;
  }
  .pricing__title {
    font-size: 36px;
  }
  .service__title {
    font-size: 22px;
  }
  .service__title-lesson {
    width: 100%;
  }
  .service__title-personal {
    width: 100%;
  }

  .service__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .service__number-title {
    font-size: 24px;
  }
  .service__img {
    max-width: 222px;
    max-height: 222px;
  }
  .service__photo-lesson {
    padding-top: 30px;
  }
  .service__lesson {
    margin-left: 0;
    max-width: 267px;
    max-height: 195px;
  }

  .service__number {
    margin: 0 5px;
    width: 220px;
    padding: 10px 20px;
    gap: 10px;
  }
  .service__number-lesson {
    margin-left: 20px;
  }
  .service__number-webinar {
    margin-left: 30px;
  }
}
@media (min-width: 1600px) {
  .pricing {
    padding-top: 188px;
  }
  .pricing__services {
    gap: 50px;
  }
  .service__photo-lesson {
    padding-top: 30px;
  }

  .pricing__title {
    font-size: 48px;
    margin: 0 auto;
  }
  .service__title {
    font-size: 30px;
  }
  .service__title-personal {
    padding-left: 0;
  }
  .service__text {
    font-size: 20px;
    width: 450px;
  }
  .service__text-webinar {
    padding-left: 0;
  }
  .service__img {
    max-width: 311px;
    max-height: 311px;
  }
  .service__lesson {
    max-width: 391px;
    max-height: 283px;
  }

  .service__number {
    padding: 10px 18px;
    width: 240px;
    gap: 5px;
  }
  .service__number-webinar {
    margin-left: 0px;
  }

  .service__number-title {
    font-size: 30px;
  }
  .service__number-text {
    font-size: 18px;
    padding-top: 5px;
  }
}
