.pricing__title {
  text-align: center;
  padding: 49px;
}

.service__title {
  color: $colorButtonPrimary;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  padding: 20px;
}
.service__text {
  font-size: 13px;
  text-align: center;
}
.service__number {
  display: flex;
  justify-content: center;
  margin: 31px 75px;
  padding: 5px;
  border-radius: 5px;
  background-color: $colorBackgroundSecondary;
}
.service__number-title {
  padding-right: 5px;
  font-size: 18px;
  color: $colorButtonPrimary;
}
.service__number-text {
  font-size: 14px;
  color: $colorTextFortiary;
}
@media (min-width: 575px) {
  .container__pricing {
    padding: 0px 100px;
  }
  .pricing__title {
    font-size: 30px;
  }
  .service__title {
    font-size: 24px;
  }
  .service__text {
    font-size: 14px;
  }
  .service__number-title {
    font-size: 22px;
  }
  .service__number-text {
    font-size: 16px;
  }
  .service__img {
    max-width: 291px;
    min-height: 291px;
    margin: 0 auto;
  }
}
